
{% extends "Swiggy/base.html" %}
{% block content %}
<div >
    <h1>
        {{Heading}}
    </h1>

<div class='container'>
  <div class='row'>
    <div class='col-12 col-md-3 justify-content-between'>
      <div class="card" style="width: 21rem;height: 20rem;">
        <img src="..." class="card-img-top" alt="...">
    </div>

    </div>
    <div class='col-12 col-md-3 justify-content-between'>
      <div class="card" style="width: 21rem;height: 20rem;">
        <img src="..." class="card-img-top" alt="...">
    </div>

    </div>


  </div>
  

</div>

</div>

{% endblock content %}