 .container-fluid{
    border: 15px solid red;
    background-color: orange;
    cursor: pointer;
    color: white;
} 


.zomoto{
    background-color:red;
    cursor: pointer;
    color: white;
}
.endcontainer{

 border: 15px solid red;
 color: white;
 background-color: rgb(22, 207, 83);


}
.contant{
    background-image: url('/static/Images/blankimg.jfif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    text-align: center;
    
}

.table{
    height: 90px;
    align-items: center;
    text-align: center;
    padding: 60px;
    border-radius: 20px;
    cursor: pointer;
}
.col-size{
    width: 100%;
}

