<div class='nav'>
<div class='col-12 col-md-12 justify-content-between'>
<nav class="navbar navbar-expand-lg  ">
  <div class="container-fluid">
    <a class=ball  class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="ball" class="nav-link active" aria-current="page" href="/home/1/">Home</a>
        </li>
        <li class="nav-item">
          <a class="ball" class="nav-link" href="/home/2/">LOGINPAGE</a>
        </li>
        <li class="nav-item">
          <a class="ball" class="nav-link" href="/home/4/">Add New List Item</a>
        </li>
        <li class="nav-item">
          <a class="ball" class="nav-link" href="/home/list/">Update List Item</a>
        </li>
        <li class="nav-item">
          <a class="ball" class="nav-link" href="/home/3/">LOGOUTPAGE</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      
    </div>
  </div>
</nav>
</div>
</div>