{% extends "base.html" %}
{% block content %}


{% include "navbar.html" %}
<div>



    <form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}

<p><label for="" value="">Sport_Name</label><input type="text" name="Name" value="{{Items.Name}}"></p>
<p><label for="" >Item_Time</label><input type="text" name="Time" value="{{Items.Time}}"></p>
<p><label for="">Sport_Image</label><img src="{{Items.Image.url}}" alt="" height="100px" width="100px"><input type="file" name="Image" required='True'></p>
<input type="Submit" >



    </form>
</div>








{% endblock  %}